@import url("https://fonts.googleapis.com/css2?family=Judson:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/*  
font-family: "Poppins", sans-serif;
font-family: "Judson", serif;
 */
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  background: #ede1f3;
}
a {
  display: inline-block;
  text-decoration: none;
}
ul {
  list-style: none;
}
img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
svg {
  display: block;
  pointer-events: none;
}
figure {
  display: inline-block;
  overflow: hidden;
}
button {
  border: none;
  outline: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}
.topbar .container,
.navbar .container{
  max-width: 1820px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
/* ===== topbar ==== */
.topbar {
  background: #0b125a;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}
.topbar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.topbar-info,
.topbar-social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.topbar-social {
  gap: 15px;
}
.topbar-info-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
  transition: 0.3s all ease;
}
.topbar-info-link:hover {
  color: rgba(255, 255, 255, 0.9);
}
.topbar-social-link {
  transition: 0.3s all ease;
}
.topbar-social-link:hover {
  transform: scale(1.1);
}

/* ===== Navbar==== */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  padding: 20px 0;
  z-index: 9999;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  border-radius: 9999px;

  /* Frost / base */
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(16px) saturate(140%);
  -webkit-backdrop-filter: blur(16px) saturate(140%);

  /* Depth */
  border: 1px solid rgba(255, 255, 255, 0.14);
}
.navlist {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  z-index: 999;
}
.navlink {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: #0b125a;
  transition: 0.3s ease;
  position: relative;
}
.navlink svg path{
  transition: 0.3s ease;
}
.navlink::before{
  position: absolute;
  content: '';
  height: 2px;
  width: 0%;
  background: #fff;
  top: 100%;
  transition: 0.3s ease;
}
.navlink:hover{
  color: #fff;
}
.navlink:hover::before{
  width: 100%;
}
.navlink:hover svg path{
  stroke: #fff;
}
.navbar-action-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.btn {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  padding: 16px 32px;
  border-radius: 30px;
  border: 2px solid transparent;
  transition: all 0.3s ease;
}
.btn-primary {
  background: #ede1f3;
  color: #0b125a;
}
.btn-primary:hover {
  color: #0b125a;
  border-color: currentColor;
}
.btn-secondary {
  background: #0b125a;
  color: #ede1f3;
}
.btn-secondary:hover {
  color: #0b125a;
  background: #ede1f3;
  border-color: currentColor;
}
.menu-btn {
  display: none;
  font-size: 18px;
}

/* ==== Banner Start */

.banner {
  min-height: 800px;
  padding-top: 165px;
  padding-bottom: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(
      45deg,
      rgba(250, 106, 10, 0.3) 33%,
      rgba(255, 255, 255, 0.1) 100%
    ),
    url("../assets/banner/hero.svg") center/cover no-repeat;
}
.banner .container {
  max-width: 1620px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
}
.banner-content{
    margin-bottom: 80px;
}
h1 {
  font-family: "Judson", serif;
  font-size: 64px;
  font-weight: 700;
  letter-spacing: 0.05em;
  max-width: 670px;
  width: 100%;
  color: #FFFFFF;
}
.hero-search {
  max-width: 600px;
  width: 100%;
  padding: 20px;
  border-radius: 20px;

  background: rgba(10, 26, 47,0.2);
  backdrop-filter: blur(18px) saturate(130%);
  -webkit-backdrop-filter: blur(18px) saturate(130%);
  border: 1px solid rgba(255, 255, 255, 0.18);

  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* Tabs wrapper */
.search-tabs {
  width: 100%;
  background: #FFFFFF;
  border-radius: 999px;
  padding: 2px;
  display: flex;
  gap: 6px;
}

/* Tab button */
.tab-btn {
  font-family: "Poppins", sans-serif;
  flex: 1;
  padding: 12px 18px;
  border-radius: 999px;
  font-size: 18px;
  color: #0b125a;
  background: transparent;
  transition: 0.25s ease;
}

.tab-btn.active {
  background: #0B125A;
  color: #FFFFFF;
}

/* Subtitle */
.search-subtitle {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.5;
}

/* Search bar */
.search-bar {
  width: 100%;
  height: 64px;
  padding: 10px 12px;
  border-radius: 999px;

  background: #0B125A;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.search-bar input {
  width: 100%;
  height: 100%;
  padding: 0 16px;
  border-radius: 999px;
  border: none;
  outline: none;
  background: transparent;
  color: #fff;
  font-size: 16px;
}

.search-bar input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.search-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #fff;
  display: grid;
  place-items: center;
  font-size: 18px;
  color: #0b125a;
  flex-shrink: 0;
  transition: 0.25s ease;
}

.search-btn:hover {
  transform: scale(1.06);
}

.nav-item{
  position: relative;
}

.dropdown-navlist{
  right: 50%;
  transform: translateX(50%);
  top: 60px;
  position: absolute;
  background: #0B125A;
  padding: 50px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;

  /* Hide Dropdown */
  opacity: 0;
  visibility: hidden;
  transform: translateX(50%) translateY((10px));
  transition: 0.3s ease;
  z-index: 9999;
}
/* show dropdown on hover */
.nav-item:hover .dropdown-navlist{
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateX(50%) translateY((0));
}
/* for click toggle (mobile) */
.nav-item.active .dropdown-navlist{
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateX(50%) translateY(0);
}
.dd-navitem:not(:last-child){
  margin-bottom: 18px;
}
.dd-navitem{
  position: relative;
}
.dd-navitem::after{
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  /* right: 0; */
  height: 10px;
  width: 10px;
  background: url('../assets/navbar/arrow-cream-orange.svg') no-repeat center;
  padding-left: 25px;
}
.dd-navlink{
  font-size: 18px;
 font-family: "Judson", serif;
 letter-spacing: 0.05em;
 color: #FFE8D2;
 white-space: nowrap;
 transition: 0.3s all ease;
}
.dd-navlink:hover{
  color: #F08526;
}
.dropdown-navlist hr{
  border-top: 1px solid rgb(255, 255, 255, 0.3);
  margin-bottom: 16px;
}

@media screen and (max-width: 1440px) {
  .navlist {
    gap: 18px;
  }
  .navbar-action-btns {
    gap: 16px;
  }
  .btn {
    padding: 13px 30px;
  }
}
/* Large devices (laptops) */
@media (max-width: 1200px) {
  nav {
    gap: 10px;
  }
  .btn {
    padding: 8px 14px;
  }
}
/* Medium devices (tablets landscape) */
@media screen and (max-width: 1024px) {
  .topbar {
    padding: 18px 0;
  }
  .topbar-info {
    gap: 12px;
  }
  .topbar-social {
    gap: 6px;
  }
  .topbar-info-link {
    font-size: 12px;
  }
  .topbar-info-link figure,
  .topbar-social-link figure {
    max-width: 12px;
  }
  .navbar {
    padding: 16px 0;
  }
  nav {
    padding: 8px 10px;
    position: relative;
  }
  .navbar-brand {
    max-width: 70px;
  }
  .navlink {
    color: #ffe8d2;
  }
  .navlink svg path{
    stroke: #ffe8d2;
  }
  .navbar-menu {
    /* display: none; */
    position: absolute;
    top: 110%;
    transform: translateX(-50%);
    /* Frost / base */
    background: rgba(11, 18, 90, 1);
    backdrop-filter: blur(16px) saturate(140%);
    -webkit-backdrop-filter: blur(16px) saturate(140%);
    /* Depth */
    border: 1px solid rgba(255, 255, 255, 0.14);
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px 0;
    border-radius: 50px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: 0.3s ease;
    z-index: 999;
  }
  .navbar-menu.active {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateX(-50%) translateY(0);
    z-index: 999;
  }
  .navlist {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .navbar-action-btns {
    gap: 12px;
  }
  .btn {
    padding: 8px 14px;
    font-size: 16px;
  }
  .menu-btn {
    font-size: 35px;
    display: block;
    color: #ede1f3;
  }
}
/* Tablets */
@media (max-width: 992px) {
}
/* Small tablets / large phones */
@media screen and (max-width: 768px) {
  .topbar-wrapper {
    justify-content: center;
  }
  .topbar-rgt {
    display: none;
  }
}

/* Mobile devices */
@media (max-width: 576px) {
  nav {
    padding: 4px 8px 4px 4px;
  }
  .navbar-brand {
    max-width: 55px;
  }
  .btn {
    padding: 8px 12px;
    font-size: 12px;
  }
  .menu-btn {
    font-size: 30px;
  }
  .navlink {
    font-size: 12px;
  }
  .navbar-menu {
    border-radius: 30px;
  }
  .banner {
    padding-top: 120px;
    padding-bottom: 80px;
    min-height: 600px;
  }
  .banner .container {
    padding: 0 15px;
  }
  .banner-content {
    margin-bottom: 60px;
  }
  h1 {
    font-size: 50px;
    text-align: center;
  }
  .hero-search {
    padding: 18px;
  }
  .tab-btn {
    padding: 10px 15px;
    font-size: 15px;
  }
  .search-subtitle {
    font-size: 14px;
  }
  .search-bar {
    height: 44px;
    padding: 10px 8px 10px;
  }
  .search-btn {
    width: 35px;
    height: 35px;
  }
  .search-bar input::placeholder {
    font-size: 15px;
  }
}

/* Small mobile devices */
@media (max-width: 480px) {
  .topbar {
    display: none;
  }
  .navbar-action-btns {
    gap: 8px;
  }
}

/* Extra small devices */
@media (max-width: 375px) {
  h1 {
    font-size: 30px;
  }
  .banner {
    min-height: 400px;
    padding-top: 100px;
    padding-bottom: 50px;
  }
  .banner-content {
    margin-block: 40px;
  }
  .hero-search {
    padding: 12px;
  }
  .tab-btn {
    padding: 10px 12px;
    font-size: 11px;
  }
  .search-subtitle {
    font-size: 11px;
  }
  .search-bar {
    /* height: 40px; */
    padding: 8px 10px;
  }
  .search-bar input {
    font-size: 11px;
  }
  .search-bar input::placeholder {
    font-size: 11px;
  }
  .search-bar input {
    padding: 0px 10px;
  }
}

/* Very small phones */
@media (max-width: 320px) {
}
