/* Extra large devices (large desktops) */
@media (max-width: 1440px) {}

/* Large devices (laptops) */
@media (max-width: 1200px) {}

/* Medium devices (tablets landscape) */
@media (max-width: 1024px) {}

/* Tablets */
@media (max-width: 992px) {}

/* Small tablets / large phones */
@media (max-width: 768px) {}

/* Mobile devices */
@media (max-width: 576px) {}

/* Small mobile devices */
@media (max-width: 480px) {}

/* Extra small devices */
@media (max-width: 375px) {}

/* Very small phones */
@media (max-width: 320px) {}
